$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

// Vars
$forum: 'Forum', cursive;
$mont: 'Montserrat', sans-serif;

html {
	overflow-x: hidden;
}
body {
	overflow: hidden;
	* {
		font-family: $mont;
		box-sizing: border-box;
		&::before,
		&::after {
			box-sizing: border-box;
		}
	}
	a {
		text-decoration: none;
		transition: all 0.4s linear;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $forum;
	font-weight: 500;
	line-height: 1.2em;
	margin: 0;
	color: #000;
}

// Header

// Main menu
.main__menu__wrap {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	position: relative;
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 51;
	}
}
.main__menu__container {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main__menu {
	@media screen and (min-width: $mobile-sm) and (max-width: $desktop - 1 ) {
		width: 100%;
		position: absolute;
		top: 70px;
		left: 0;
		transition: all 0.3s linear;
		background-color: #fff;
		z-index: 50;
		transform: translateX(100%);
		opacity: 0;
		&.opened {
			transform: translateX(0);
			opacity: 1;
		}
	}
	@media screen and (min-width: $desktop) {
		width: 100%;
		max-width: 870px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		&.searched {
			.main__menu__nav {
				margin-left: -150px;
				opacity: 0;
			}
			.main__menu__search {
				input {
					width: 150px;
					border-bottom: 1px solid #000;
				}
			}
		}
	}
	&__logo {
		width: 100%;
		max-width: 193px;
		img {
			width: 100%;
		}
	}
	&__nav {
		width: 100%;
		padding: 15px;
		@media screen and (min-width: $desktop) {
			width: auto;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			transition: all 0.4s linear;
			opacity: 1;
		}
		&__item {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			font-family: $forum;
			font-size: 17px;
			line-height: 20px;
			color: #000;
			@media screen and (min-width: $desktop) {
				width: auto;
				margin-bottom: 0;
				margin-right: 30px;
			}
			&:hover,
			&:focus {
				color: #669;
			}
		}
	}
	&__search {
		width: 100%;
		padding: 15px;
		@media screen and (min-width: $desktop) {
			width: auto;
			padding: 10px 5px;
		}
		form {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		input {
			width: 100%;
			max-width: 200px;
			border: none;
			outline: none;
			border-bottom: 1px solid #000;
			display: block;
			margin-right: 25px;
			padding-bottom: 3px;
			font-size: 14px;
			line-height: 20px;
			color: #000;
			transition: all 0.4s linear;
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration {
				display: none;
			}
			@media screen and (min-width: $desktop) {
				width: 0;
				margin-right: 0;
				border: none;
			}
		}
		&__submit {
			display: block;
			border: none;
			outline: none;
			background-color: transparent;
			width: 20px;
			height: 20px;
			background-image: url('../img/zoom.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 17px;
			cursor: pointer;
		}
	}
}
// Main menu END

// Header menu mobile trigger
.mobile__menu__trigger {
	@media screen and (min-width: $desktop) {
		display: none;
	}
}
.hamburger {
    padding: 5px;
    outline: none;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

// Header menu mobile trigger END

// Main theme block
.main__wrapper {
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.main__theme__wrap {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	z-index: 10;
	background-color: #FAF5F0;
	@media screen and (min-width: $desktop) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 49px;
		height: 49px;
		border: 4px solid #E3C09F;
		border-radius: 50%;
		bottom: -25.5px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		@media screen and (min-width: $landscape-lg) {
			width: 98px;
			height: 98px;
			bottom: -49px;
		}
	}
}

.main__theme__container {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
	}
}

.main__theme__image {
	width: 100%;
	max-width: 225px;
	margin-bottom: 25px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $landscape-sm) {
		display: block;
		max-width: 300px;
		margin-bottom: 0;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 450px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 559px;
	}
}

.main__theme__text {
	width: 100%;
	@media screen and (min-width: $landscape-sm) {
		max-width: 350px;
	}
	@media screen and (min-width: $desktop) {
		max-width: 525px;
	}
}
.main__theme__title {
	width: 100%;
	text-align: center;
	font-size: 32px;
	margin-bottom: 15px;
	@media screen and (min-width: $desktop) {
		font-size: 48px;
	}
}
.main__theme__subtitle {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
	@media screen and (min-width: $desktop) {
		font-size: 30px;
		margin-bottom: 40px;
	}
}

.main__theme__text__cat {
	width: 100%;
	position: relative;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 20px;
	font-size: 16px;
	line-height: 27px;
	color: #000;
	text-align: center;
	&::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid #E3C09F;
		background-color: #fff;
		top: 2px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}
	&::after {
		content: '';
		position: absolute;
		width: 69px;
		height: 2px;
		background-color: #E3C09F;
		top: 6px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 4;
	}
}

// Блок Что вы узнаете на вебинаре
.what__you__know {
	width: 100%;
	position: relative;
	z-index: 9;
	background-color: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	@media screen and (min-width: $landscape-lg) {
		&::before {
			content: '';
			position: absolute;
			width: 54px;
			height: 54px;
			border: 4px solid #E3C09F;
			background-color: #fff;
			border-radius: 50%;
			right: 80px;
			top: 185px;
		}
	}
	&__container {
		width: 100%;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-lg) {
			flex-direction: column;
			max-height: 380px;
			justify-content: center;
			align-items: flex-start;
		}
	}
	&__title {
		width: 100%;
		text-align: center;
		font-size: 30px;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-lg) {
			max-width: 290px;
			font-size: 40px;
			text-align: left;
			margin-top: 50px;
			order: 1;
		}
	}
	&__image {
		width: 100%;
		position: relative;
		max-width: 290px;
		margin: 0 auto;
		line-height: 0;
		margin-bottom: 25px;
		z-index: 8;
		box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
		img {
			width: 100%;

		}
		@media screen and (min-width: $landscape-lg) {
			order: 0;
			margin-bottom: 0;
			&::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 4px solid #E3C09F;
				z-index: -1;
				top: 43px;
				right: -25px;
			}
		}
	}
	&__description {
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 27px;
		color: #000;
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
			order: 2;
		}
	}
}
// Блок Что вы узнаете на вебинаре END

// Основные темы

.main__webinar__themes {
	width: 100%;
	position: relative;
	z-index: 11;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url('../img/main__webinar__themes__bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	@media screen and (min-width: $desktop) {
		padding-bottom: 175px;
		&::before {
			content: '';
			position: absolute;
			width: 222px;
			height: 222px;
			border-radius: 50%;
			border: 4px solid #E3C09F;
			left: -111px;
			bottom: 40px;
			z-index: -1;
		}
		&::after {
			content: '';
			position: absolute;
			width: 909px;
			height: 4px;
			background-color: #E3C09F;
			bottom: 25px;
			right: 0;
			z-index: 11;
		}
	}
	&__container {
		width: 100%;
		position: relative;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		z-index: 11;
		@media screen and (min-width: $desktop) {
			&::before {
				content: '';
				position: absolute;
				width: 102px;
				height: 102px;
				border-radius: 50%;
				border: 4px solid #E3C09F;
				bottom: -200px;
    		left: 290px;
				z-index: 11;
				@media screen and (min-width: 1440px) {
					left: 340px;
				}
				@media screen and (min-width: 1600px) {
					left: 420px;
				}
				@media screen and (min-width: 1920px) {
					left: 580px;
				}
			}
		}
	}
	&__title {
		width: 100%;
		position: relative;
		z-index: 9;
		text-align: center;
		font-size: 36px;
		margin-bottom: 75px;
		@media screen and (min-width: $landscape-sm) {
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				background-color: #E3C09F;
				top: 50%;
				left: -67%;
				transform: translateY(-50%);
			}
		}
		@media screen and (min-width: $desktop) {
			font-size: 48px;
			margin-bottom: 106px;
		}
	}
	&__list {
		width: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		counter-reset: list;
		@media screen and (min-width: $landscape-sm) {
			justify-content: space-around;
		}
		@media screen and (min-width: $desktop) {
			justify-content: flex-start;
		}
		&__item {
			width: 100%;
			position: relative;
			font-family: $forum;
			font-size: 24px;
			line-height: 37px;
			padding-left: 100px;
			margin-bottom: 75px;
			color: #000;
			&::before {
				counter-increment: list;
				content: counter(list);
				position: absolute;
				font-family: $forum;
				font-size: 120px;
				line-height: 100px;
				color: #DCB590;
				top: 0;
				left: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 45%;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 30%;
				margin-bottom: 120px;
			}
			@media screen and (min-width: $desktop) {
				margin-left: 55px;
				&:nth-of-type(3n+1) {
					margin-left: 0;
				}
				&:nth-of-type(5) {
					margin-right: 100px;
				}
				&:nth-of-type(6) {
					margin-left: 0;
				}
				&:nth-of-type(7) {
					margin-left: 55px;
				}
			}
		}
	}
	&__girl {
		display: none;
		@media screen and (min-width: $desktop) {
			display: block;
	    max-width: 860px;
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	    z-index: -1;
		}
	}
}

// Основные темы END

// Вебинар для тех, кто хочет
.webinar__who__wants {
	width: 100%;
	position: relative;
	z-index: 9;
	background-color: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	&__container {
		width: 100%;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
	}
	&__title {
		width: 100%;
		text-align: center;
		font-size: 30px;
		margin-bottom: 50px;
		@media screen and (min-width: $landscape-lg) {
			max-width: 795px;
			margin: 0 auto;
			margin-bottom: 50px;
			font-size: 40px;
		}
	}
	&__list {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-lg) {
			justify-content: space-between;
		}
		&__item {
			width: 100%;
			position: relative;
			margin-bottom: 45px;
			@media screen and (min-width: $landscape-lg) {
				max-width: 30%;
				margin-bottom: 0;
			}
			&__title {
				width: 100%;
				position: relative;
				padding-top: 65px;
				margin-top: 0;
				margin-bottom: 50px;
				font-family: $forum;
				font-size: 24px;
				line-height: 29px;
				color: #000;
				text-align: center;
				@media screen and (min-width: $landscape-lg) {
					min-height: 125px;
				}
				&::before {
					content: '';
					position: absolute;
					width: 44px;
					height: 44px;
					border-radius: 50%;
					border: 2px solid #DCB590;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&__descr {
				width: 100%;
				position: relative;
				padding-top: 30px;
				margin: 0;
				font-size: 16px;
				line-height: 27px;
				text-align: center;
				color: #000;
				&::before {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border: 2px solid #E3C09F;
					background-color: #fff;
					top: 2px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 5;
				}
				&::after {
					content: '';
					position: absolute;
					width: 69px;
					height: 2px;
					background-color: #E3C09F;
					top: 6px;
					left: 50%;
					transform: translateX(-50%);
					z-index: 4;
				}
			}
		}
	}
}
// Вебинар для тех, кто хочет END

// Middle form
.middle__form {
	width: 100%;
	position: relative;
	background-color: rgba(220, 205, 192, 0.5);
	z-index: 10;
	@media screen and (min-width: $desktop) {
		&::before {
			content: '';
			position: absolute;
			width: 4px;
			height: 266px;
			background-color: #E3C09F;
			bottom: -45px;
			left: 15%;
		}
		&::after {
			content: '';
			position: absolute;
			width: 182px;
			height: 182px;
			border-radius: 50%;
			border: 4px solid #E3C09F;
			bottom: -60px;
			right: 10%;
		}
	}
	&__container {
		width: 100%;
		position: relative;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 70px;
		padding-bottom: 70px;
		margin: 0 auto;
		overflow: hidden;
		@media screen and (min-width: $desktop) {
			padding-bottom: 60px;
			&.thanks {
				&::before {
					display: none;
				}
			}
			&::before {
				content: '';
				position: absolute;
				width: 764px;
				height: 764px;
				border-radius: 50%;
				background-color: #FAF5F0;
				left: 50%;
				bottom: 5px;
				transform: translateX(-50%);
				z-index: 1;
			}
		}
	}
	&__title {
		width: 100%;
		position: relative;
		max-width: 640px;
		margin: 0 auto;
		margin-bottom: 50px;
		text-align: center;
		font-size: 36px;
		line-height: 44px;
		z-index: 5;
	}
}
.lp__form {
	width: 100%;
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	&.middle-form {
		max-width: 560px;
		margin: 0 auto;
		.lp__form__policy {
			text-align: center;
			max-width: 437px;
	    margin: 0 auto;
	    margin-top: 30px;
		}
	}
	&.reviews-form {
		@media screen and (min-width: $landscape-lg) {
			justify-content: flex-start;
			input {
				margin-right: 20px;
			}
		}

		.lp__form__policy {
			max-width: 490px;
			margin-bottom: 0;
			@media screen and (min-width: 1920px) {
				max-width: 100%;
			}
		}
	}
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
	input {
		display: block;
		width: 100%;
		margin-bottom: 25px;
		border: none;
		outline: none;
		background-color: transparent;
		padding: 10px;
		border-bottom: 1px solid #DCB590;
		font-size: 16px;
		line-height: 27px;
		color: #000;
		transition: border-color 0.3s linear;
		@media screen and (min-width: $landscape-lg) {
			max-width: 270px;
			margin-bottom: 0;
		}
		&:focus {
			border-bottom-color: #e67b15;
		}
		&::placeholder {
			color: #000;
		}
	}
	&__submit {
		display: block;
		width: 100%;
		max-width: 270px;
		margin: 0 auto;
		margin-bottom: 25px;
		border: 1px solid red;
		outline: none;
		border-radius: 10px;
		padding-top: 9px;
		padding-bottom: 9px;
		background-color: red;
		font-size: 15px;
		line-height: 26px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s linear;
		&:hover {
			background-color: transparent;
			color: red;
		}
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
	}
	&__policy {
		width: 100%;
		margin: 0;
		margin-top: 30px;
		margin-bottom: 15px;
		font-size: 13px;
		line-height: 22px;
		color: #555;
		a {
			text-decoration: underline;
			color: #669;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
// Middle form END

// about__leading
.about__leading {
	width: 100%;
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: rgba(245, 235, 226, 0.5);
	z-index: 9;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 100px;
	}
	@media screen and (min-width: $desktop) {
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			width: 62px;
			height: 62px;
			border-radius: 50%;
			border: 4px solid #E3C09F;
			top: 15px;
			left: 40%;
			transform: translateX(-50%);
		}
		&::after {
			content: '';
			position: absolute;
			width: 222px;
			height: 222px;
			border-radius: 50%;
			border: 4px solid #E3C09F;
			bottom: -55px;
			left: -32px;
		}
	}
	&__container {
		width: 100%;
		max-width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 600px;
		}
		@media screen and (min-width: $desktop) {
			max-height: 580px;
		}
	}
	&__title {
		width: 100%;
		margin-bottom: 15px;
		font-size: 40px;
		line-height: 49px;
		text-align: center;
		@media screen and (min-width: $landscape-lg) {
			max-width: 300px;
			order: 1;
			text-align: left;
		}
		&__descr {
			width: 100%;
			font-size: 16px;
			line-height: 27px;
			color: #555;
			margin-top: 0;
			margin-bottom: 30px;
			@media screen and (min-width: $landscape-sm) {
				text-align: center;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 400px;
				margin-bottom: 60px;
				order: 1;
				text-align: left;
			}
		}
	}
	&__image {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 30px;
		@media screen and (min-width: $landscape-lg) {
			order: 0;
			margin: 0;
			margin-bottom: 110px;
			margin-right: 90px;
			max-width: 387px;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 90px;
		}
	}
	&__descr {
		width: 100%;
		font-size: 16px;
		line-height: 27px;
		color: #000;
		margin-top: 0;
		margin-bottom: 30px;
		@media screen and (min-width: $landscape-lg) {
			order: 1;
			max-width: 500px;
		}
		@media screen and (min-width: $desktop) {
			max-width: 660px;
		}
	}
	&__signature {
		width: 100%;
		margin-top: 30px;
		text-align: right;
		font-size: 16px;
		line-height: 27px;
		color: #555;
		font-style: italic;
		@media screen and (min-width: $landscape-lg) {
			order: 1;
			max-width: 500px;
			margin-bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			max-width: 660px;
		}
	}
}
// about__leading END

// Reviews
.reviews__wrap {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
}
.reviews__image {
	display: none;
	@media screen and (min-width: $desktop) {
		display: block;
		width: 100%;
		max-width: 37%;
		background-image: url('../img/reviews__image.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	img {
		width: 100%;
	}
}
.reviews__block {
	width: 100%;
	@media screen and (min-width: $desktop) {
		max-width: 63%;
	}
	&__title {
		width: 100%;
		font-size: 30px;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-sm) {
			font-size: 40px;
		}
	}
	&__slider {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.15);
		@media screen and (min-width: $landscape-sm) {
			max-width: 698px;		}
		@media screen and (min-width: $desktop) {
			margin: 0;
		}
		&__item {
			width: 100%;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 40px;
			padding-bottom: 60px;
			&__name {
				display: block;
				width: auto;
				margin-bottom: 20px;
				font-family: $forum;
				font-size: 24px;
				line-height: 26px;
				color: #000;
			}
			&__date {
				display: block;
				width: auto;
				margin-bottom: 20px;
				font-size: 16px;
				line-height: 27px;
				color: #999;
			}
			&__text {
				width: 100%;
				font-size: 16px;
				line-height: 27px;
				color: #000;
			}
		}
	}
}
.reviews__slider {
	width: 100%;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 70px;
	padding-left: 15px;
	padding-right: 15px;
	@media screen and (min-width: $landscape-sm) {
		padding-top: 86px;
		padding-left: 30px;
	}
	@media screen and (min-width: $desktop) {
		padding-left: 60px;
	}
}

.swiper-pagination.swiper-pagination-fraction {
	width: 100%;
	max-width: 75px;
	left: 50%;
	bottom: 35px;
	transform: translateX(-50%);
}
.swiper-button-prev,
.swiper-button-next {
	width: 9px;
	height: 17px;
	bottom: 35px;
	top: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	outline: none;
	transition: opacity 0.3s linear;
}
.swiper-button-prev {
	left: 40%;
	background-image: url('../img/swiper-prev-arrow.svg');
}

.swiper-button-next {
	right: 40%;
	background-image: url('../img/swiper-next-arrow.svg');
}

.reviews__form {
	width: 100%;
	background-color: #FAF5F0;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 15px;
	padding-right: 15px;
	@media screen and (min-width: $desktop) {
		padding-left: 99px;
	}
	&__title {
		width: 100%;
		font-size: 36px;
		margin-bottom: 50px;
		@media screen and (min-width: $desktop) {
			max-width: 640px;
		}
	}
}
// Reviews END

// Footer
footer {
	width: 100%;
	position: relative;
	padding: 40px 15px;
}
.footer__nav__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	@media screen and (min-width: $desktop) {
		justify-content: space-between;
		&.searched {
			.footer__nav {
				margin-left: -150px;
				opacity: 0;
			}
			.main__menu__search.footer-search {
				input {
					width: 150px;
					border-bottom: 1px solid #000;
				}
			}
		}
	}
}
.footer__nav {
	display: block;
	width: 100%;
	transition: all 0.4s linear;
	opacity: 1;
	@media screen and (min-width: $landscape-sm) {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	@media screen and (min-width: $desktop) {
		max-width: 540px;
		justify-content: space-between;
	}
	&__item {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		font-family: $forum;
		font-size: 17px;
		line-height: 19px;
		color: #000;
		@media screen and (min-width: $landscape-sm) {
			width: auto;
			margin-right: 30px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
	}
}
.main__menu__search {
	&.footer-search {
		padding: 0;
		@media screen and (min-width: $landscape-sm) {
			max-width: 245px;
			margin: 0 auto;
		}
	}
}
.footer__rights {
	width: 100%;
	max-width: 500px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-top: 25px;
	@media screen and (min-width: $landscape-lg) {
		margin-top: 0;
	}
	p {
		width: 100%;
		text-align: center;
		font-size: 13px;
		line-height: 22px;
		margin-top: 0;
		margin-bottom: 20px;
		color: #555;
		&:last-of-type {
			color: #999;
		}
	}
}
.footer__develop {
	width: 100%;
	max-width: 160px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	span {
		font-size: 13px;
		line-height: 13px;
		color: #999;
	}
}
// Footer END

// Thanks
.form__thanks {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: #FAF5F0;
	font-size: 36px;
	line-height: 44px;
	color: #000;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	overflow: hidden;
	z-index: 1;
	&.animated {
		display: flex;
		animation: show-thanks 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		animation-delay: 0.3s;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 869px;
		min-height: 400px;
		&::after {
			content: '';
			position: absolute;
			width: 222px;
			height: 222px;
			border-radius: 50%;
			border: 4px solid #E3C09F;
			z-index: 2;
			top: 55%;
			left: 55px;
			transform: translateY(-50%);
		}
	}
	span {
		display: block;
		position: relative;
		font-family: $forum;
		padding-left: 30px;
		margin-bottom: 25px;
		z-index: 2;
		@media screen and (min-width: $landscape-lg) {
			padding-left: 100px;
		}
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		max-width: 658px;
		height: 4px;
		background-color: #E3C09F;
		top: 55%;
		right: 55px;
		transform: translateY(-50%);
		z-index: 1;
	}
}
@keyframes show-thanks {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
// Thanks END